{% extends "header.html" %}

{% block page_title %}
<title>Manan | Programing Club Of YMCA University, Faridabad</title>
{% endblock page_title %}

{% block page_context %}

<div class="container">
  <br/><br/><br/><br/><br/><br/><br/>
  <div class="row">
    <div class="col-lg-6">
      <p class="txxt-head">We are enthusiast and passionate</p>
      <h3 class="txxt-body">Programers, Developers & Designers</h3> 
      <p class="txxt-tail">Manan, the Technical Society of YMCA University of Science and Technology, believes in rising by the means of learning ever so more. The word Manan comes from Sanskrit and it means deep thought, contemplation, or profound reflection and that’s why each member in the society believes in practical implementation of the technology learned. We are proud of our culture wherein we share our knowledge between people to gather more perspective towards things. That’s why we organise, and also take part in tech-talks, workshops, hackathons, coding contests, gaming events and much more.</p>
      <p class="txxt-tail">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;By sticking to our beliefs, a couple of companies have recognised us and have started sponsoring us like; Codeshala, Hackerearth, Codechef, Hackerrank. With the help of these organisations we are able to conduct series of coding contests like ‘Code For YMCA’ which promotes coding culture in our university so that students take part in ICPC and competitions like those, ‘Code Cadet’ which encourages newbies to code more, ‘Code Relay’ which focuses on data structures and algorithms topic-by-topic. Apart from this, during our University’s annual fest we develop online games like ‘Xunbao’, ‘Hackon’.</p>
      <p class="txxt-tail">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Every year we enrol new members by conducting a test known as ‘Manthan’ where we test a candidate’s programming skills, technical aptitude. We conduct annual hackathon ‘Zenith’ which is sponsored by companies like Digitalocean, Dot Tech, Jetbrains, Mozilla, cCdeshala, sapphire engine, sticker mule. We aim to make each and every member self-capable of creating projects to help solve agendas of a hackathon. This is why we keep ourselves updated of the new technology that comes in the industry. We have members who work on Machine Learning, Virtual Reality, Web Technologies like NodeJS, Angular, Django and the list goes on.</p>
      <p class="txxt-tail">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;And finally, after all the hard work we put in it pays off. We are the winners of several national and international hackathons such as 'Angel Hacks', 'Code for India' and many more. We reached till India finals in ACM ICPC. Every day, we do something that takes us closer to where we want to be. We are unstoppable. We are Manan.</p>
      <br/><br/><br/><br/>
    </div> 
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-12">
          <p class="txxt-head text-center"><span>Upcoming </span><span style="color:#79589F">Events</span></p>
          <div id="UpcomingEventsView"><img src="https://cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif">&nbsp;Loading Upcoming events, Please wait.....</div>
        </div>
      </div>

    </div>
  </div>


  <br/><br/>
  <hr style="background-color: #79589F">
  


</div>
<br/>

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registration form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-success" role="alert" id="register-success-msg">You have been registered successfully!</div>
        <form id="registerPublic">
          <input type="text" class="form-control" id="eventid" hidden>
          {% csrf_token %}
          <div class="form-group">
            <label for="register-fname" class="col-form-label">First name<span style="color:red">*</span></label>
            <input type="text" class="form-control" id="register-fname" name="register-fname" required>
          </div>
          <div class="form-group">
            <label for="register-lname" class="col-form-label">Last name<span style="color:red">*</span></label>
            <input type="text" class="form-control" id="register-lname" name="register-lname" required>
          </div>
          <div class="form-group">
            <label for="register-email" class="col-form-label">Email<span style="color:red">*</span></label>
            <input type="email" class="form-control" id="register-email" name="register-email" required>
          </div>
          <div class="form-group">
            <label for="register-phone" class="col-form-label">Phone number<span style="color:red">*</span></label>
            <input type="text" class="form-control" id="register-phone" name="register-phone" required>
            <small id="emailHelp" class="form-text text-muted">Don't include country code. We might send you updates regarding this event via sms, We'll never share your phone number with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="register-college" class="col-form-label">College<span style="color:red">*</span></label>
            <input type="text" class="form-control" id="register-college" name="register-college" required>
          </div>
          <div class="form-group">
            <label for="register-text" class="col-form-label">Any queries/feedback:</label>
            <textarea class="form-control" id="register-text" name="register-text"></textarea>
          </div>

          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="btn-register-public">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock page_context %}
{% block page_scripts %}
<script>
  $('#registerModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var modal = $(this)
        console.log(button.data('eventname'));
        modal.find('.modal-title').text('Register for ' + button.data('eventname'))
        modal.find('#eventid').val(button.data('eventid'))
        $('#register-success-msg').hide();
        $('#registerPublic').show();
        $('#btn-register-public').show();
      })
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
      dataToBeDisplayed='';

      $(document).ready(function(){
        $.ajax({
          type: "GET",
          url: "/api/nearevents/",
          data: {},
          success: function(data)
          { 

          //data=JSON.stringify(data);
          console.log(data);
          for(var i=0;i<data.length;i++){
            hosts='';
            //console.log(data[i]);
            for(var j=0;j<data[i].host.length;j++){
              //console.log(data[i].host[j].username);
              hosts+=data[i].host[j].profile.fname;
              if(j!=data[i].host.length-1){
                hosts+=", ";
              }
            }
            
            dataToBeDisplayed+='<div class="card mx-auto" style="width: 85%"><div class="card-body"><div class="row"><div class="col-lg-4"><div class="container text-center" style="padding:10px;background-color:#79589F;color:#fff;border-radius:5px; ">'+data[i].start_date+'<br/>'+data[i].start_time+'<br/>  -  <br/>'+data[i].end_date+'<br/>'+data[i].end_time+'</div></div><div class="col-lg-8"><a href="/event/detail/'+data[i].pk+'/"><h4 class="card-title">'+data[i].title+'</h4></a><h6 class="card-subtitle mb-2 text-muted">By '+hosts+'</h6><p class="card-text"></p><a href="#" class="card-link"  style="padding:10px;background-color:#79589F;color:#fff;border-radius:5px; " data-toggle="modal" data-target="#registerModal" data-eventid="'+data[i].pk+'"  data-eventname="'+data[i].title+'">Register</a><a href="/event/detail/'+data[i].pk+'/" class="card-link">Know more</a></div></div></div></div><br/>'
          }
          $('#UpcomingEventsView').html(dataToBeDisplayed);
        },
        error: function(data)
        {
          console.log('error');       
        }
      });

      })
    </script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#registerPublic').submit(function(e){
          e.preventDefault();
          var event_id=$('#exampleInputeventid1').val();
        //console.log(event_id);
        $.ajax({
          type: "POST",
          url: "/api/event/register/",
          data: {"csrfmiddlewaretoken": '{{csrf_token}}',"eventid": $('#eventid').val(),"fname": $('#register-fname').val(),"lname": $('#register-lname').val(),"email":$('#register-email').val(),"College":$('#register-college').val(),"query":$('#register-text').val(),"mobile":$('#register-phone').val()},
          success: function(data)
          { 
            //console.log('Done'+data);
            $('#register-success-msg').show();
            $('#registerPublic').hide();
            $('#btn-register-public').hide();
          },
          error: function(jqXHR, textStatus, errorThrown)
          {
            console.log('err');       
          }
        });
      })
      })

    </script>



    {% endblock page_scripts %}