<!doctype html>
<html lang="en">
<head>
  <title>Login | Manan | Programing Club Of YMCA University, Faridabad</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <style>
  body{
    font-family: "BentonSans", "Helvetica Neue", sans-serif;
  }
  a{
    color: #000;
  }
  .txxt-head{
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .125em;
    margin: 0 0 .5em 0;
    line-height: 1.2;
  }
  .txxt-body{
    color:#79589F;
    font-weight: bold;
    margin: 0 0 .5em 0;
    line-height: 1.2;
  }
  .txxt-tail{
    margin-bottom: 20px;
    font-size: 15px;
    letter-spacing: .125em;
    margin: 0 0 .5em 0;
    line-height: 1.2;
  }
</style>
</head>
<body style="background-color: #fff">
  <nav class="navbar fixed-top navbar-expand-lg bg-light" style="background-color: #fff;">
    <a class="navbar-brand" href="/">
      <img src="https://s3.amazonaws.com/aws-website-manan-y6eya/manan/manan-logo.png" width="190" height="65"><span class="badge badge-secondary">V Alpha 0.1</span>
      
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/members">Members</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/events/">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects/">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact/">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <br/><br/><br/><br/><br/><br/><br/>
    <div class="row">
      <div class="col-lg-4 ">
        <p class="txxt-head">Member Login</p>
        <h3 class="txxt-body">Menu</h3> 
        <ul class="list-group">
          <li class="list-group-item">Login</li>
          
        </ul><br/><br/><br/><br/><br/><br/><br/>
      </div> 
      <div class="col-lg-4 bg-light" style="padding:10px;">
        <div class="row">
          <div class="col-lg-12">
            <p class="txxt-head text-center"><span>Log </span><span style="color:#79589F">In</span></p>
            {% if user.is_authenticated %}<h1>
            logged in .</h1>
            {% else %}
            <form method="post" action="/login/">
              {% csrf_token %}
              <div class="form-group">
                <label for="exampleInputPhone1">Phone number</label>
                <input name="username" type="text" class="form-control" id="exampleInputPhone1" aria-describedby="PhoneHelp" placeholder="Enter Phone Number">
                <small id="PhoneHelp" class="form-text text-muted">Don't include the country code</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
            {% endif %}

          </div>
        </div>

      </div>


    </div>


    <br/><br/>
    <hr style="background-color: #79589F">
    <br/><br/>


  </div>
  <br/><br/>
  <footer class="txxt-tail text-center">
    <p style="color:#79589F;padding-top: 10px;">© Manan | All Rights Reserved.</p>

  </footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/bc4369196c.js"></script>
</body>
</html>