<!doctype html>
<html lang="en">
<head>
  <title>Manan's Members | Programing Club Of YMCA University, Faridabad</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <style>
  body{
    font-family: "BentonSans", "Helvetica Neue", sans-serif;
  }
  a{
    color: #000;
  }
  .txxt-head{
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .125em;
    margin: 0 0 .5em 0;
    line-height: 1.2;
  }
  .txxt-body{
    color:#79589F;
    font-weight: bold;
    margin: 0 0 .5em 0;
    line-height: 1.2;
  }
  .txxt-tail{
    margin-bottom: 20px;
    font-size: 15px;
    letter-spacing: .125em;
    margin: 0 0 .5em 0;
    line-height: 1.2;
  }
</style>
</head>
<body style="background-color: #fff">
  <nav class="navbar fixed-top navbar-expand-lg bg-light" style="background-color: #fff;">
    <a class="navbar-brand" href="/">
      <img src="https://s3.amazonaws.com/aws-website-manan-y6eya/manan/manan-logo.png" width="190" height="65"><span class="badge badge-secondary">V Alpha 0.1</span>
      
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/members">Members</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/events/">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects/">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact/">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <br/><br/><br/><br/>
    {% for x in member %}
    <div class="row">
      <div class="col-lg-12">
        <p class="txxt-head">year</p>
        <h3 class="txxt-body">{{x.batch}}</h3>
        <hr style="background-color: #79589F">
        <br/>
      </div>
    </div>


    <div class="row">

      {% for y in x.users %}
      <div class="col-lg-4" style="margin-top: 10px;">
        <div class="card border-info" style="width: 20rem;">
          <img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15f77c274ec%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15f77c274ec%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22118.015625%22%20y%3D%2297.2%22%3E318x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">{{y.profile.fname}} {{y.profile.lname}} </h4>
            <p class="card-text"><small class="text-muted">Email: {{y.profile.email}}</small><br/><small class="text-muted">Phone: +91-{{y.username}}</small></p>
          </div>
          <div class="card-footer">
            <small class="text-muted">
              <a href="mailto:{{y.profile.email}}" target="_new"><i class="fa fa-envelope fa-2x"></i></a>&nbsp;
              <a href="{{y.profile.github}}" target="_new"><i class="fa fa-github fa-2x"></i></a>&nbsp;
              <a href="{{y.profile.linkedin}}" target="_new"><i class="fa fa-linkedin fa-2x"></i></a>&nbsp;
            </small>
            <a href="/member/{{y.username}}" class=" float-right">View complete profile</a>
          </div>
        </div>
      </div>

      {% endfor %}


    </div>
    <br/>{% endfor %}


    <br/><br/>
    <hr style="background-color: #79589F">
    <br/><br/>


  </div>
  <br/><br/>
  <footer class="txxt-tail text-center">
    <p style="color:#79589F;padding-top: 10px;">© Manan | All Rights Reserved.</p>

  </footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/bc4369196c.js"></script>
</body>
</html>