{% extends "header.html" %}

{% block page_title %}
<title>{{user.profile.fname}} {{user.profile.lname}} | Member | Programing Club Of YMCA University, Faridabad</title>
{% endblock page_title %}

{% block page_context %}
<div class="container-fluid bg-dark" style="">
  <br/><br/><br/> 
  <!--<img src="cover.jpg" class="img-fluid">-->
</div>

<div class="container-fluid" style="background-color: #d1d1dd">
  <div class="container">
    <h2 class="text-center" style="padding:10px;"><b>{{user.profile.fname}}&nbsp;{{user.profile.lname}}</b>
      <h6 class="text-center card-subtitle mb-2" style="color:#79589F;">{{user.profile.batch}}</h2>
        <h4>{{user.username}}</h4>
        <p>{{user.profile.github}}
        {{user.profile.facebook}}</p>
      </div>

    </div>

    <div class="container">
     <div class="row" style="padding:10px;">
      <div class="col-lg-3 txxt-body">
        Start time:  
      </div>
      <div class="col-lg-3 txxt-body">
        End time: 
      </div>
      <div class="col-lg-3 txxt-body">
        Venue: 
      </div>

      <div class="col-lg-3">
        <a href="#" class="card-link"  style="padding:15px;background-color:#79589F;color:#fff;border-radius:5px; ">Register Now</a>
      </div>

    </div>
  </div>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <p class="txxt-head">Event</p>
        <h3 class="txxt-body">Menu</h3> 
        <ul class="list-group">
          <li class="list-group-item">Event Description</li>
          <li class="list-group-item">Prerequisite</li>
          <li class="list-group-item">Pictures</li>
          <li class="list-group-item">Feedbacks and Queries</li>
        </ul>
      </div>
      <div class="col-lg-9" style="background-color: #f3f3f3"><br/>
        <h3 class="txxt-body">Event Description</h3>
        <p></p>
        <hr style="background-color: #79589F">
        <h3 class="txxt-body">Prerequisite</h3>
        <p></p>
        <hr style="background-color: #79589F">
        <h3 class="txxt-body">Rules</h3>
        <p></p>
        <hr style="background-color: #79589F">
        <h3 class="txxt-body">Feedbacks and Queries</h3>
        <hr style="background-color: #79589F">
      </div>
    </div>
  </div>

  <br/><br/>
  {% endblock page_context %}
  {% block page_scripts %}

  {% endblock page_scripts %}