{% extends "header.html" %}

{% block page_title %}
<title>Add Event | Manan | Programing Club Of YMCA University, Faridabad</title>
{% endblock page_title %}

{% block page_context %}

<div class="container">
  <br/><br/><br/><br/><br/><br/><br/>
  <div class="row">
    <div class="col-lg-4 ">
      <p class="txxt-head">Administrators</p>
      <h3 class="txxt-body">Toolkit</h3> 
      <ul class="list-group">
        <a href="/home/"><li class="list-group-item">Create new user</li></a>
        <a href="/update_member/"><li class="list-group-item">Edit user details</li></a>
        <a href="/create_event/"><li class="list-group-item">Create new event</li></a>
        <a href="/update_event/"><li class="list-group-item">Edit event details</li></a>
        <a href="/logout/"><li class="list-group-item">logout</li></a>
      </ul><br/><br/><br/><br/><br/><br/><br/>
    </div> 
    <div class="col-lg-8 bg-light" style="padding:10px;">
      <div class="row">
        <div class="col-lg-12">
          <p class="txxt-head text-center"><span>Create </span><span style="color:#79589F">New Event</span></p>
          {% if msg %}
          <div class="alert alert-success" role="alert">
           New Event was created!
         </div>
         {% endif %}
         <form method="post" action="/create_event/">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputPhone1">Title</label>
            <input name="title" type="text" class="form-control" id="exampleInputPhone1"  placeholder="Title of event">
          </div>
          <div class="form-group">
            <label for="exampleInputBatch1">Description</label>
            <input name="description" type="text" class="form-control" id="exampleInputBatch1"  placeholder="Brief about event">
          </div>
          <div class="form-group">
            <label for="exampleInputBatch1">Host</label>
            <input name="host" type="text" class="form-control" id="exampleInputBatch1"  placeholder="enter host of event in space seperated format">
          </div>

          <div class="form-group">
            <label for="exampleInputPhone1">Venue</label>
            <input name="venue" type="text" class="form-control" id="exampleInputPhone1"  placeholder="Venue of event">
          </div>
          <div class="form-group">
            <label for="exampleInputBatch1">Rules</label>
            <input name="rules" type="text" class="form-control" id="exampleInputBatch1"  placeholder="Rules about event">
          </div>
          <div class="form-group">
            <label for="exampleInputPhone1">Fee</label>
            <input name="fee" type="number" class="form-control" id="exampleInputPhone1"  placeholder="Fee for event">
          </div>
          <div class="form-group">
            <label for="exampleInputBatch1">Start at</label>
            <input name="start_date" type="date" class="form-control" id="exampleInputBatch1"  placeholder="starting date of event">
          </div>
          <div class="form-group">
            <label for="exampleInputPhone1">End at</label>
            <input name="end_date" type="date" class="form-control" id="exampleInputPhone1"  placeholder="ending date of event">
          </div>
          <div class="form-group">
            <label for="exampleInputBatch1">Start at</label>
            <input name="start_time" type="time" class="form-control" id="exampleInputBatch1"  placeholder="starting time of event">
          </div>
          <div class="form-group">
            <label for="exampleInputPhone1">End at</label>
            <input name="end_time" type="time" class="form-control" id="exampleInputPhone1"  placeholder="ending time of event">
          </div>
          <div class="form-group">
            <label for="exampleInputBatch1">Prerequistes</label>
            <input name="prerequistes" type="text" class="form-control" id="exampleInputBatch1"  placeholder="prerequistes for event">
          </div>
          <button type="submit" class="btn btn-primary">Create</button>
        </form>


      </div>
    </div>

  </div>
</div>


<br/><br/>
<hr style="background-color: #79589F">
<br/><br/>


</div>
{% endblock page_context %}
{% block page_scripts %}

{% endblock page_scripts %}