{% extends "header.html" %}

{% block page_title %}
<title>Edit event detail | Manan | Programing Club Of YMCA University, Faridabad</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.default.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>
{% endblock page_title %}

{% block page_context %}
<div class="container">
  <br/><br/><br/><br/><br/><br/><br/>
  <div class="row">
    <div class="col-lg-4 ">
      <p class="txxt-head">Administrators</p>
      <h3 class="txxt-body">Toolkit</h3> 
      <ul class="list-group">
        <a href="/home/"><li class="list-group-item">Create new user</li></a>
        <a href="/update_member/"><li class="list-group-item">Edit user details</li></a>
        <a href="/create_event/"><li class="list-group-item">Create new event</li></a>
        <a href="/update_event/"><li class="list-group-item">Edit event details</li></a>
        <a href="/logout/"><li class="list-group-item">logout</li></a>
      </ul><br/><br/><br/><br/><br/><br/><br/>
    </div>  
    <div class="col-lg-8 bg-light" style="padding:10px;">
      <div class="row">
        <div class="col-lg-12">
          <p class="txxt-head text-center"><span>Your </span><span style="color:#79589F">Profile</span></p>
          {% if err %}
          <div class="alert alert-danger" role="alert">
            Some error occured while updating Event + {{err}}
          </div>
          {% endif %}

          {% if msg %}
          <div class="alert alert-success" role="alert">
            Event was updated!
          </div>
          {% endif %}

          <form method="post" action="">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputeventid1">Event Id</label>
              <div class="row">
                <div class="col-lg-9">
                  <input name="eventid" type="text" class="form-control" id="exampleInputeventid1" aria-describedby="EventHelp" placeholder="Enter Event Id">
                </div>
                <div class="col-lg-3">
                  <button class="btn btn-primary" id="fetchEventDetailsBtn">Fetch & Render</button>
                </div>
              </div>

              <small id="PhoneHelp" class="form-text text-muted"></small>
            </div>
          <div class="form-group">
            <label for="exampleInputPhone1">Title</label>
            <input name="title" type="text" class="form-control" id="exampleInputTitle1"  placeholder="Title of event" required>
          </div>
          <div class="form-group">
            <label for="exampleInputBatch1">Description</label>
            <textarea name="description" class="form-control" id="exampleInputDescription1"  placeholder="Brief about event" required></textarea>
          </div>
          <div class="form-group">
            <label for="exampleInputBatch1">Host</label>
            <input name="host" type="text" id="exampleInputHost1" class="demo-default" placeholder="Enter host of event in space seperated format" required>
            <small id="BioHelp" class="form-text text-muted">Use comma ',' to add a new host</small>
            <script>
              var REGEX_EMAIL = '([a-z0-9!#$%&\'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&\'*+/=?^_`{|}~-]+)*@' +
              '(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?)';

              $('#exampleInputHost1').selectize({
                  persist: false,
                  plugins: ['remove_button'],
                  delimiter: ' ',
                  maxItems: null,
                  valueField: 'mobile',
                  labelField: 'name',
                  searchField: ['name', 'mobile'],
                  options: {{ obj | safe }},
                  render: {
                    item: function(item, escape) {
                      return '<div>' +
                      (item.name ? '<span class="name"> ' + escape(item.name) + ' </span> ' : '') +
                      (item.email ? ' <span class="mobile"> ' + escape(item.mobile) + ' </span>' : '') +
                      '</div>';
                    },
                    option: function(item, escape) {
                      var label = item.name || item.mobile;
                      var caption = item.name ? item.mobile : null;
                      return '<div>' +
                      '<span class="label"> ' + escape(label) + ' </span>' +
                      (caption ? ' <span class="caption">  </span>' : '') +
                      '</div>';
                    }
                  }
              });
            </script>
          </div>

          <div class="form-group">
            <label for="exampleInputPhone1">Venue</label>
            <input name="venue" type="text" class="form-control" id="exampleInputVenue1"  placeholder="Venue of event" required>
          </div>
          <div class="form-group">
            <label for="exampleInputBatch1">Rules</label>
            <textarea name="rules" class="form-control" id="exampleInputRules1"  placeholder="Rules about event"></textarea>
          </div>
          <div class="form-group">
            <label for="exampleInputPhone1">Fee</label>
            <input name="fee" type="number" class="form-control" id="exampleInputFee1"  placeholder="Fee for event">
          </div>
          <div class="form-group">
            <label for="exampleInputBatch1">Start at</label>
            <input name="start_date" type="date" class="form-control" id="exampleInputStart_date1"  placeholder="starting date of event" required>
          </div>
          <div class="form-group">
            <label for="exampleInputPhone1">End at</label>
            <input name="end_date" type="date" class="form-control" id="exampleInputEnd_date1"  placeholder="ending date of event" required>
          </div>
          <div class="form-group">
            <label for="exampleInputBatch1">Start at</label>
            <input name="start_time" type="time" class="form-control" id="exampleInputStart_time1"  placeholder="starting time of event" required>
          </div>
          <div class="form-group">
            <label for="exampleInputPhone1">End at</label>
            <input name="end_time" type="time" class="form-control" id="exampleInputEnd_time1"  placeholder="ending time of event" required>
          </div>
          <div class="form-group">
            <label for="exampleInputBatch1">Prerequistes</label>
            <textarea name="prerequistes" class="form-control" id="exampleInputPrerequistes1"  placeholder="prerequistes for event"></textarea>
          </div>
            <button type="submit" class="btn btn-primary">Update</button>
          </form>


        </div>
      </div>

    </div>


  </div>


  <br/><br/>
  <hr style="background-color: #79589F">
  <br/><br/>


</div>
<br/><br/>
{% endblock page_context %}
{% block page_scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
    var jsonObject = JSON.parse('{{ obj | escapejs }}');
    console.log(jsonObject);
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $('#fetchEventDetailsBtn').click(function(e){
      e.preventDefault();
      var event_id=$('#exampleInputeventid1').val();
      console.log(event_id);
      $.ajax({
        type: "POST",
        url: "/api/getevent/",
        data: {"eventid": event_id,"csrfmiddlewaretoken": '{{csrf_token}}'},
        success: function(data)
        { 
          $('#exampleInputTitle1').val(data.title);
          $('#exampleInputFee1').val(data.fee);
          $('#exampleInputVenue1').val(data.venue);
          $('#exampleInputDescription1').val(data.description);
          $('#exampleInputPrerequistes1').val(data.prerequistes);
          $('#exampleInputHost1').val(data.host);
          $('#exampleInputRules1').val(data.rules);
          $('#exampleInputStart_time1').val(data.start_time);
          $('#exampleInputEnd_time1').val(data.end_time);
          $('#exampleInputStart_date1').val(data.start_date);
          $('#exampleInputEnd_date1').val(data.end_date);
        },
        error: function(jqXHR, textStatus, errorThrown)
        {
          console.log('err');       
        }
      });
    })
  })

</script>
{% endblock page_scripts %}