{% extends "header.html" %}

{% block page_title %}
<title>Edit member details | Manan | Programing Club Of YMCA University, Faridabad</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.default.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>
{% endblock page_title %}

{% block page_context %}
<div class="container">
  <br/><br/><br/><br/><br/><br/><br/>
  <div class="row">
    <div class="col-lg-4 ">
      <p class="txxt-head">Administrators</p>
      <h3 class="txxt-body">Toolkit</h3> 
      <ul class="list-group">
        <a href="/home/"><li class="list-group-item">Create new user</li></a>
        <a href="/update_member/"><li class="list-group-item">Edit user details</li></a>
        <a href="/create_event/"><li class="list-group-item">Create new event</li></a>
        <a href="/update_event/"><li class="list-group-item">Edit event details</li></a>
        <a href="/logout/"><li class="list-group-item">logout</li></a>
      </ul><br/><br/><br/><br/><br/><br/><br/>
    </div>  
    <div class="col-lg-8 bg-light" style="padding:10px;">
      <div class="row">
        <div class="col-lg-12">
          <p class="txxt-head text-center"><span>Your </span><span style="color:#79589F">Profile</span></p>
          {% if err %}
          <div class="alert alert-danger" role="alert">
            Some error occured while updating profile
          </div>
          {% endif %}

          {% if msg %}
          <div class="alert alert-success" role="alert">
            Profile was updated!
          </div>
          {% endif %}

          <form method="post" action="">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputPhone1">Phone number</label>
              <div class="row">
                <div class="col-lg-9">
                  <div class="input-group mb-2 mb-sm-0">
                    <div class="input-group-addon">+91</div>
                    <input name="mobile" type="text" class="form-control" id="exampleInputPhone1" aria-describedby="PhoneHelp" placeholder="Enter Phone Number" required>
                  </div>
                </div>
                <div class="col-lg-3">
                  <button class="btn btn-primary" id="fetchMemberDetailsBtn">Fetch & Render</button>
                </div>
              </div>

              <small id="PhoneHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
              <label for="exampleInputBatch1">Batch</label>
              <input name="batch" type="text" class="form-control" id="exampleInputBatch1" aria-describedby="BatchHelp" placeholder="Enter Batch" value="" maxlength="4" minlength="4" required>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" value="" required>
            </div>
            <div class="form-group">
              <label for="exampleInputfname">First name</label>
              <input name="fname" type="text" class="form-control" id="exampleInputfname" aria-describedby="fname" placeholder="Enter first name" value="" required>
            </div>
            <div class="form-group">
              <label for="exampleInputlname">Last name</label>
              <input name="lname" type="text" class="form-control" id="exampleInputlname" aria-describedby="lname" placeholder="Enter last name" value="" required>
            </div>
            <div class="form-group">
              <label for="exampleInputgithub">Github</label>
              <div class="input-group mb-2 mb-sm-0">
                <div class="input-group-addon">https://github.com/</div>
                <input name="github" type="text" class="form-control" id="exampleInputgithub" aria-describedby="github" placeholder="Enter github profile link" value="" required>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputfacebook">Facebook</label>
              <div class="input-group mb-2 mb-sm-0">
                <div class="input-group-addon">https://facebook.com/</div>
                <input name="facebook" type="text" class="form-control" id="exampleInputfacebook" aria-describedby="facebook" placeholder="Enter facebook profile link" value="" required>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputtwitter">Twitter</label>
              <div class="input-group mb-2 mb-sm-0">
                <div class="input-group-addon">https://twitter.com/</div>
                <input name="twitter" type="text" class="form-control" id="exampleInputtwitter" aria-describedby="twitter" placeholder="Enter twitter profile link" value="" required>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputlinkedin">Linkedin</label>
              <div class="input-group mb-2 mb-sm-0">
                <div class="input-group-addon">https://linkedin.com/in/</div>
                <input name="linkedin" type="text" class="form-control" id="exampleInputlinkedin" aria-describedby="linkedin" placeholder="Enter linkedin profile link" value="" required>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputframeworks">Frameworks</label>
              <input  name="frameworks" type="text" id="exampleInputframeworks" class="demo-default" value="">
              <small id="BioHelp" class="form-text text-muted">Use comma ',' to add a new framework</small>
              <script>
                $('#exampleInputframeworks').selectize({
                  plugins: ['remove_button'],
                  delimiter: ',',
                  persist: false,
                  createOnBlur: true,
                  create: function(input) {
                    return {
                      value: input,
                      text: input
                    }
                  }
                });
              </script>

            </div>
            <div class="form-group">
              <label for="exampleInputbio">Bio</label>
              <textarea name="bio" class="form-control" id="exampleInputbio" aria-describedby="bio" placeholder="Your short bio" maxlength="300" required></textarea>
              <small id="BioHelp" class="form-text text-muted">Maximum allowed characters is 300.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputlocation">Your current location</label>
              <input name="location" type="text" class="form-control" id="exampleInputlocation" aria-describedby="location" placeholder="Your current location" value="">
            </div>
            <div class="form-group">
              <label for="exampleInputachivements">Achievements</label>
              <input  name="achivements" type="text" id="exampleInputachivements" class="demo-default" value="">
              <small id="BioHelp" class="form-text text-muted">Press add to add a new achievements</small>

              <script>
                $('#exampleInputachivements').selectize({
                  plugins: ['remove_button'],
                  delimiter: '--',
                  persist: false,
                  createOnBlur: true,
                  create: function(input) {
                    return {
                      value: input,
                      text: input
                    }
                  }
                });
              </script>

            </div>
            <div class="form-group">
              <label for="exampleInputcompany">Company</label>
              <input name="company" type="text" class="form-control" id="exampleInputcompany" aria-describedby="company" placeholder="Enter the company you work in" value="{{obj.profile.company}}">
              <small id="BioHelp" class="form-text text-muted">Leave this blank if you are still a student.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputlanguages">Languages</label>
              <input  name="languages" type="text" id="exampleInputlanguages" class="demo-default" value="{{obj.profile.languages}}" required>
              <small id="BioHelp" class="form-text text-muted">Use comma ',' to add a new language</small>

              <script>
                $('#exampleInputlanguages').selectize({
                  plugins: ['remove_button'],
                  delimiter: ',',
                  persist: false,
                  createOnBlur: true,
                  create: function(input) {
                    return {
                      value: input,
                      text: input
                    }
                  }
                });
              </script>
            </div>
            <div class="form-group">
              <label for="exampleInputhe_profile">Your hackerearth profile link</label>
              <div class="input-group mb-2 mb-sm-0">
                <div class="input-group-addon">https://hackerearth.com/@</div>
                <input name="he_profile" type="text" class="form-control" id="exampleInputhe_profile" aria-describedby="he_profile" placeholder="Your hackerearth profile link" value="{{obj.profile.he_profile}}" required>
              </div>
              <small id="BioHelp" class="form-text text-muted">We will automatically fetch the count of questions solved.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputspoj_profile">Your spoj profile link</label>
              <div class="input-group mb-2 mb-sm-0">
                <div class="input-group-addon">http://spoj.com/users/</div>
                <input name="spoj_profile" type="text" class="form-control" id="exampleInputspoj_profile" aria-describedby="spoj_profile" placeholder="Your spoj profile link" value="{{obj.profile.spoj_profile}}" required>
              </div>
              <small id="BioHelp" class="form-text text-muted">We will automatically fetch the count of questions solved.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputcc_profile">Your codechef profile link</label>
              <div class="input-group mb-2 mb-sm-0">
                <div class="input-group-addon">https://www.codechef.com/users/</div>
                <input name="codechef_profile" type="text" class="form-control" id="exampleInputcc_profile" aria-describedby="cc_profile" placeholder="Your codechef profile link" value="{{obj.profile.codechef_profile}}" required>
              </div>
              <small id="BioHelp" class="form-text text-muted">We will automatically fetch the count of questions solved.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputmy_website">Your personal website</label>
              <input name="my_website" type="url" class="form-control" id="exampleInputmy_website" aria-describedby="my_website" placeholder="Your website url" value="{{obj.profile.my_website}}">
            </div>
            <div class="form-group">
              <label for="exampleInputlabel">Label</label>
              <input name="label" type="text" class="form-control" id="exampleInputlabel" aria-describedby="label" placeholder="Label" value="{{obj.profile.Label}}">
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
          </form>


        </div>
      </div>

    </div>


  </div>


  <br/><br/>
  <hr style="background-color: #79589F">
  <br/><br/>


</div>
<br/><br/>
{% endblock page_context %}
{% block page_scripts %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('#fetchMemberDetailsBtn').click(function(e){
      e.preventDefault();
      var phone_number=$('#exampleInputPhone1').val();
      //console.log(phone_number);
      $.ajax({
        type: "POST",
        url: "/api/getprofile/",
        data: {"username": phone_number,"csrfmiddlewaretoken": '{{csrf_token}}'},
        success: function(data)
        { 
          $('#exampleInputBatch1').val(data.batch);
          $('#exampleInputfname').val(data.fname);
          $('#exampleInputlname').val(data.lname);
          $('#exampleInputgithub').val(data.github);
          $('#exampleInputfacebook').val(data.facebook);
          $('#exampleInputtwitter').val(data.twitter);
          $('#exampleInputlinkedin').val(data.linkedin);
          $('#exampleInputEmail1').val(data.email);

          $('#exampleInputframeworks').val(data.frameworks);
          $('#exampleInputbio').val(data.bio);
          $('#exampleInputlocation').val(data.location);
          $('#exampleInputlanguages').val(data.languages);
          $('#exampleInputachivements').val(data.achivements);
          $('#exampleInputcompany').val(data.company);
          $('#exampleInputhe_profile').val(data.he_profile);
          $('#exampleInputspoj_profile').val(data.spoj_profile);
          $('#exampleInputcodechef_profile').val(data.codechef_profile);
          $('#exampleInputmy_website').val(data.my_website);
          $('#exampleInputlabel').val(data.label);
        },
        error: function(jqXHR, textStatus, errorThrown)
        {
          console.log('err');       
        }
      });
    })
  })

</script>
{% endblock page_scripts %}