{% extends "header.html" %}

{% block page_title %}
<title>Edit member details | Manan | Programing Club Of YMCA University, Faridabad</title>
{% endblock page_title %}

{% block page_context %}
<div class="container">
  <br/><br/><br/><br/><br/><br/><br/>
  <div class="row">
    <div class="col-lg-4 ">
      <p class="txxt-head">Administrators</p>
      <h3 class="txxt-body">Toolkit</h3> 
      <ul class="list-group">
        <a href="/home/"><li class="list-group-item">Create new user</li></a>
        <a href="/update_member/"><li class="list-group-item">Edit user details</li></a>
        <a href="/create_event/"><li class="list-group-item">Create new event</li></a>
        <a href="/update_event/"><li class="list-group-item">Edit event details</li></a>
        <a href="/logout/"><li class="list-group-item">logout</li></a>
      </ul><br/><br/><br/><br/><br/><br/><br/>
    </div>  
    <div class="col-lg-8 bg-light" style="padding:10px;">
      <div class="row">
        <div class="col-lg-12">
          <p class="txxt-head text-center"><span>Your </span><span style="color:#79589F">Profile</span></p>
          {% if err %}
          <div class="alert alert-danger" role="alert">
            Some error occured while updating profile
          </div>
          {% endif %}

          {% if msg %}
          <div class="alert alert-success" role="alert">
            Profile was updated!
          </div>
          {% endif %}

          <form method="post" action="">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputPhone1">Phone number</label>
              <div class="row">
                <div class="col-lg-9">
                  <input name="mobile" type="text" class="form-control" id="exampleInputPhone1" aria-describedby="PhoneHelp" placeholder="Enter Phone Number">
                </div>
                <div class="col-lg-3">
                  <button class="btn btn-primary" id="fetchMemberDetailsBtn">Fetch & Render</button>
                </div>
              </div>

              <small id="PhoneHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
              <label for="exampleInputBatch1">Batch</label>
              <input name="batch" type="text" class="form-control" id="exampleInputBatch1" aria-describedby="BatchHelp" placeholder="Enter Batch" value="">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" value="">
            </div>
            <div class="form-group">
              <label for="exampleInputfname">First name</label>
              <input name="fname" type="text" class="form-control" id="exampleInputfname" aria-describedby="fname" placeholder="Enter first name" value="">
            </div>
            <div class="form-group">
              <label for="exampleInputlname">Last name</label>
              <input name="lname" type="text" class="form-control" id="exampleInputlname" aria-describedby="lname" placeholder="Enter last name" value="">
            </div>
            <div class="form-group">
              <label for="exampleInputgithub">Github</label>
              <input name="github" type="text" class="form-control" id="exampleInputgithub" aria-describedby="github" placeholder="Enter github profile link" value="">
            </div>
            <div class="form-group">
              <label for="exampleInputfacebook">Facebook</label>
              <input name="facebook" type="text" class="form-control" id="exampleInputfacebook" aria-describedby="facebook" placeholder="Enter facebook profile link" value="">
            </div>
            <div class="form-group">
              <label for="exampleInputtwitter">Twitter</label>
              <input name="twitter" type="text" class="form-control" id="exampleInputtwitter" aria-describedby="twitter" placeholder="Enter twitter profile link" value="">
            </div>
            <div class="form-group">
              <label for="exampleInputlinkedin">Linkedin</label>
              <input name="linkedin" type="text" class="form-control" id="exampleInputlinkedin" aria-describedby="linkedin" placeholder="Enter linkedin profile link" value="">
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
          </form>


        </div>
      </div>

    </div>


  </div>


  <br/><br/>
  <hr style="background-color: #79589F">
  <br/><br/>


</div>
<br/><br/>
{% endblock page_context %}
{% block page_scripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $('#fetchMemberDetailsBtn').click(function(e){
      e.preventDefault();
      var phone_number=$('#exampleInputPhone1').val();
      //console.log(phone_number);
      $.ajax({
        type: "POST",
        url: "/api/getprofile/",
        data: {"username": phone_number,"csrfmiddlewaretoken": '{{csrf_token}}'},
        success: function(data)
        { 
          $('#exampleInputBatch1').val(data.batch);
          $('#exampleInputfname').val(data.fname);
          $('#exampleInputlname').val(data.lname);
          $('#exampleInputgithub').val(data.github);
          $('#exampleInputfacebook').val(data.facebook);
          $('#exampleInputtwitter').val(data.twitter);
          $('#exampleInputlinkedin').val(data.linkedin);
          $('#exampleInputEmail1').val(data.email);
        },
        error: function(jqXHR, textStatus, errorThrown)
        {
          console.log('err');       
        }
      });
    })
  })

</script>
{% endblock page_scripts %}