{% extends "header.html" %}

{% block page_title %}
<title>{{event.title}} - Registrations | Manan | Programing Club Of YMCA University, Faridabad</title>
{% endblock page_title %}

{% block page_context %}


<div class="container-fluid" style="background-color: #d1d1dd">
	<div class="container">
		<h2 class="text-center" style="padding:10px;"><b>{{event.title}}</b><h6 class="text-center card-subtitle mb-2" style="color:#79589F;">By {% for y in event.host.all %}
			<a href="/member/{{y.username}}" style="margin-bottom :15px;">{{y.profile.fname}} {{y.profile.lname}}</a> | 
		{% endfor %}</h6></h2><br/>
	</div>
	
</div>

<div class="container">
	<div class="row" style="padding:30px;">
		<div class="col-lg-4 txxt-body">
			Start time: <span class="txxt-head">{{ event.start_date|date:"D d M Y" }} {{ event.start_time|time:"H:i" }}</span>
		</div>
		<div class="col-lg-4 txxt-body">
			End time: <span class="txxt-head">{{ event.end_date|date:"D d M Y" }} {{ event.end_time|time:"H:i" }}</span>
		</div>
		<div class="col-lg-2 txxt-body">
			Venue: <span class="txxt-head">{{event.venue}}</span>
		</div>
		{% if past < 1 %}
		<div class="col-lg-2">
			<a href="/event/detail/{{event.pk}}" class="card-link"  style="padding:15px;background-color:#79589F;color:#fff;border-radius:5px; ">Event page</a>
		</div>
		{% endif %}
	</div>
</div>

</div>

<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<p class="txxt-head">Registration Details</p>
			<h3 class="txxt-body">Menu</h3> 
			<ul class="list-group">
				<li class="list-group-item"><a href="/event/detail/{{event.pk}}">Event Page</a></li>

				{% if user.is_superuser %}
				<li class="list-group-item"><a href="/event/{{event.pk}}/registrations/">Registrations</a></li>
				<li class="list-group-item"><a href="/event/{{event.pk}}/feedbacks/">Feedbacks</a></li>
				{% elif user in event.host.all %}
				<li class="list-group-item"><a href="/event/{{event.pk}}/registrations/">Registrations</a></li>
				<li class="list-group-item"><a href="/event/{{event.pk}}/feedbacks/">Feedbacks</a></li>
				{% endif %}
			</ul>
		</div>

		<div class="col-lg-9"><br/>
			
			<table class="table table-bordered table-striped table-hover table-responsive">
				<thead class="thead-dark">
					<tr>
						<th scope="col">#</th>
						<th scope="col">First Name</th>
						<th scope="col">Last Name</th>
						<th scope="col">Mobile</th>
						<th scope="col">Email</th>
						<th scope="col">College</th>
						<th scope="col">Query</th>
					</tr>
				</thead>
				<tbody>
					{% for x in obj %}
					<tr>
						<th scope="row">#</th>
						<td>{{x.fname}}</td>
						<td>{{x.lname}}</td>
						<td>{{x.mobile}}</td>
						<td>{{x.email}}</td>
						<td>{{x.College}}</td>
						<td>{{x.query}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

<br/><br/>
{% endblock page_context %}
{% block page_scripts %}
<script>
	$('#registerModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var modal = $(this)
  modal.find('.modal-title').text('Register for ' + button.data('eventname'))
  modal.find('#eventid').val(button.data('eventid'))
  $('#register-success-msg').hide();
  $('#registerPublic').show();
  $('#btn-register-public').show();
})
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript">
	$(document).ready(function(){
		$('#registerPublic').submit(function(e){
			e.preventDefault();
			var event_id=$('#exampleInputeventid1').val();
        //console.log(event_id);
        $.ajax({
        	type: "POST",
        	url: "/api/event/register/",
        	data: {"csrfmiddlewaretoken": '{{csrf_token}}',"eventid": $('#eventid').val(),"fname": $('#register-fname').val(),"lname": $('#register-lname').val(),"email":$('#register-email').val(),"College":$('#register-college').val(),"query":$('#register-text').val(),"mobile":$('#register-phone').val()},
        	success: function(data)
        	{ 
            //console.log('Done'+data);
            $('#register-success-msg').show();
            $('#registerPublic').hide();
            $('#btn-register-public').hide();
        },
        error: function(jqXHR, textStatus, errorThrown)
        {
        	console.log('err');       
        }
    });
    })
	})

</script>
{% endblock page_scripts %}