{% extends "header.html" %}

{% block page_title %}
<title>{{obj.title}} | Event | Manan | Programing Club Of YMCA University, Faridabad</title>
<style>
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
	border: none;
	float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
	margin: 5px;
	font-size: 2.25em;
	font-family: FontAwesome;
	display: inline-block;
	content: "\f005";
}

.rating > .half:before { 
	content: "\f089";
	position: absolute;
}

.rating > label { 
	color: #ddd; 
	float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
</style>
{% endblock page_title %}

{% block page_context %}
<!--<div class="container-fluid bg-dark" style="">
	<br/><br/>
	<img src="" class="img-fluid">
</div>-->

<div class="container-fluid" style="background-color: #d1d1dd">
	<div class="container">
		<h2 class="text-center" style="padding:10px;"><b>{{obj.title}}</b><h6 class="text-center card-subtitle mb-2" style="color:#79589F;">By {% for y in obj.host.all %}
			<a href="/member/{{y.username}}" style="margin-bottom :15px;">{{y.profile.fname}} {{y.profile.lname}}</a> | 
		{% endfor %}</h6></h2><br/>
	</div>

</div>

<div class="container">
	<div class="row" style="padding:30px;">
		<div class="col-lg-4 txxt-body">
			Start time: <span class="txxt-head">{{ obj.start_date|date:"D d M Y" }} {{ obj.start_time|time:"H:i" }}</span>
		</div>
		<div class="col-lg-4 txxt-body">
			End time: <span class="txxt-head">{{ obj.end_date|date:"D d M Y" }} {{ obj.end_time|time:"H:i" }}</span>
		</div>
		<div class="col-lg-2 txxt-body">
			Venue: <span class="txxt-head">{{obj.venue}}</span>
		</div>
		{% if past < 1 %}
		<div class="col-lg-2">
			<a href="#" class="card-link"  style="padding:15px;background-color:#79589F;color:#fff;border-radius:5px; " data-toggle="modal" data-target="#registerModal" data-eventid="{{obj.pk}}"  data-eventname="{{obj.title}}">Register Now</a>
		</div>
		{% endif %}
	</div>
</div>
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Registration form</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="alert alert-success" role="alert" id="register-success-msg">You have been registered successfully!</div>
				<form id="registerPublic">
					<input type="text" class="form-control" id="eventid" hidden>
					{% csrf_token %}
					<div class="form-group">
						<label for="register-fname" class="col-form-label">First name<span style="color:red">*</span></label>
						<input type="text" class="form-control" id="register-fname" name="register-fname" required>
					</div>
					<div class="form-group">
						<label for="register-lname" class="col-form-label">Last name<span style="color:red">*</span></label>
						<input type="text" class="form-control" id="register-lname" name="register-lname" required>
					</div>
					<div class="form-group">
						<label for="register-email" class="col-form-label">Email<span style="color:red">*</span></label>
						<input type="email" class="form-control" id="register-email" name="register-email" required>
					</div>
					<div class="form-group">
						<label for="register-phone" class="col-form-label">Phone number<span style="color:red">*</span></label>
						<input type="text" class="form-control" id="register-phone" name="register-phone" required>
						<small id="emailHelp" class="form-text text-muted">Don't include country code. We might send you updates regarding this event via sms, We'll never share your phone number with anyone else.</small>
					</div>
					<div class="form-group">
						<label for="register-college" class="col-form-label">College<span style="color:red">*</span></label>
						<input type="text" class="form-control" id="register-college" name="register-college" required>
					</div>
					<div class="form-group">
						<label for="register-text" class="col-form-label">Any queries/feedback:</label>
						<textarea class="form-control" id="register-text" name="register-text"></textarea>
					</div>


				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary" id="btn-register-public">Register</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<div class="container text-center txxt-head "  style="background-color: #f3f3f3;padding:20px;border:2px solid #79589F;border-radius: 10px;">
				Registrations<br/><br/><h3 class="txxt-body">{{counts}}</h3>
			</div>
			<p class="txxt-head">Event</p>
			<h3 class="txxt-body">Menu</h3> 
			<ul class="list-group">
				<a href="#description"><li class="list-group-item">Event Description</li></a>
				<a href="#pre"><li class="list-group-item">Prerequisite</li></a>
				<a href="#rules"><li class="list-group-item">Rules</li></a>
				<a href="#feedback"><li class="list-group-item">Feedbacks and Queries</li></a>
				{% if user.is_superuser %}
				<li class="list-group-item"><a href="/event/{{obj.pk}}/registrations/">Registrations</a></li>
				{% endif %}
			</ul>
		</div>
		<div class="col-lg-9">
			<small class="text-muted" id="description">
				
				<br/>
				<p class="txxt-body">Event Description</p>
				<hr>
			</small>
			<p class="txxt-head">{{obj.description}}</p>
			<small class="text-muted" id="pre">
				
				<br/>
				<p class="txxt-body">Prerequisite</p>
				<hr>
			</small>
			<p class="txxt-head">{{obj.prerequistes}}</p>
			<small class="text-muted" id="rules">
				
				<br/>
				<p class="txxt-body">Rules</p>
				<hr>
			</small>
			<p class="txxt-head">{{obj.rules}}</p>
			<small class="text-muted" id="feedback">
				<br/>
				<p class="txxt-body">Feedbacks and Queries</p>
				<hr>
			</small>
			
			<div class="container" id="feedback-form">
				<div class="form-group">
					<label for="exampleInputname">Your Full Name</label>
					<input name="name" type="text" class="form-control" id="exampleInputname" aria-describedby="name" placeholder="Enter your full name">
					<small id="name" class="form-text text-muted">You can leave this field black to leave an anonmyous feedback/query.</small>
				</div>
				<div class="form-group">
					<label for="exampleInputcomment">Feedback / Query</label>
					<textarea name="comment" type="text" class="form-control" id="exampleInputcomment" aria-describedby="comment" placeholder="Enter your feedback or query."></textarea>
				</div>
				<div class="form-group">
					<label for="exampleInputstar">Rate this session</label><br/>
					<fieldset class="rating">
						<input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
						
						<input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
						
						<input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
						
						<input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
						
						<input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
						
					</fieldset>
				</div><br/><br/><br/>
				<button type="submit" class="btn btn-primary" id="SubmitFeedback">Submit</button>

			</div>
			

		</div>
	</div>
</div>

<br/><br/>
{% endblock page_context %}
{% block page_scripts %}

<script>
	$('#registerModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var modal = $(this)
  modal.find('.modal-title').text('Register for ' + button.data('eventname'))
  modal.find('#eventid').val(button.data('eventid'))
  $('#register-success-msg').hide();
  $('#registerPublic').show();
  $('#btn-register-public').show();
})
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript">
	$(document).ready(function(){
		$('#SubmitFeedback').click(function(e){
			e.preventDefault();
			var event_id={{obj.pk}};
        //console.log(event_id);
        $.ajax({
        	type: "POST",
        	url: "/api/event/feedback/",
        	data: {"csrfmiddlewaretoken": '{{csrf_token}}',"eventid": event_id,"name": $('#exampleInputname').val(),"comment": $('#exampleInputcomment').val(),"star":$('input[name=rating]:checked').val()},
        	success: function(data)
        	{ 
            //console.log('Done'+data);
            $('#feedback-form').html('<div class="alert alert-success" role="alert" id="register-success-msg">You feedback/query has been recieved!</div>');
           
        },
        error: function(jqXHR, textStatus, errorThrown)
        {
        	console.log('err');       
        }
    });
    })
	})

</script>
{% endblock page_scripts %}