{% extends "header.html" %}

{% block page_title %}

<title>Manan's Events | Programing Club Of YMCA University, Faridabad</title>
{% endblock page_title %}

{% block page_context %}
<div class="container">
  <br/><br/><br/><br/>
  <div class="row">
    <div class="col-lg-12"><br/>
      <p class="txxt-head">Here are our</p>
      <h3 class="txxt-body">Upcoming events</h3>
      <hr style="background-color: #79589F">
      <br/>
    </div>
  </div>
  
  

  
  

  



  <div class="row">
    {% for x in future %}


    <div class="col-lg-4" style="margin-top: 10px;">
      <div class="card border-info" style="width: 20rem;">
        <!--<img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15f77c274ec%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15f77c274ec%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22118.015625%22%20y%3D%2297.2%22%3E318x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">-->
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4">
              <div class="container text-center" style="padding:6px;background-color:#79589F;color:#fff;border-radius:5px; ">
                {{ x.start_date|date:"d M " }}{{ x.start_time|time:"H:i" }}
                <br/>  
                -  
                <br/>
                {{ x.end_date|date:"d M" }} {{ x.end_time|time:"H:i" }}
              </div>
            </div>
            <div class="col-lg-8">
              <h5 class="card-title">{{x.title}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">By 
                {% for y in x.host.all %}
                <a href="/member/{{y.username}}">{{y.profile.fname}} {{y.profile.lname}}</a>
                {% endfor %}
              </h6>
              <p class="card-text"></p>
              
              <a href="#" class="card-link"  style="padding:10px;background-color:#79589F;color:#fff;border-radius:5px; " data-toggle="modal" data-target="#registerModal" data-eventid="{{x.pk}}"  data-eventname="{{x.title}}">Register</a>
              <a href="#" class="card-link">Share</a>
            </div>

          </div>
        </div>
        <div class="card-footer">

          <a href="/event/detail/{{x.pk}}" class=" float-right">View event details</a>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>

  <br/>


  <div class="row">
    <div class="col-lg-12">
      <p class="txxt-head">Here are our</p>
      <h3 class="txxt-body">Past Events</h3>
      <hr style="background-color: #79589F">
      <br/>
    </div>
  </div>
  
  

  


  <div class="row">
    {% for x in past %}

    <div class="col-lg-4" style="margin-top: 10px;">
      <div class="card border-info" style="width: 20rem;">
        <!--<img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15f77c274ec%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15f77c274ec%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22118.015625%22%20y%3D%2297.2%22%3E318x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">-->
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4">
              <div class="container text-center" style="padding:6px;background-color:#79589F;color:#fff;border-radius:5px; ">
                {{ x.start_date|date:"d M" }} {{ x.start_time|time:"H:i" }}<br/>  -  <br/>{{ x.end_date|date:"d M" }} {{ x.end_time|time:"H:i" }}
              </div>
            </div>
            <div class="col-lg-8">
              <h5 class="card-title">{{x.title}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">By 
                {% for y in x.host.all %}
                <a href="/member/{{y.username}}">{{y.profile.fname}} {{y.profile.lname}}</a>
                {% endfor %}
              </h6>
              <p class="card-text"></p>
              <a href="/event/detail/{{x.pk}}" class="card-link"  style="padding:10px;background-color:#79589F;color:#fff;border-radius:5px; ">Feedback or Queries</a>
              
            </div>

          </div>
        </div>
        <div class="card-footer">

          <a href="/event/detail/{{x.pk}}" class=" float-right">View event details</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <br/><br/>
  <hr style="background-color: #79589F">
  


</div>
<br/>
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registration form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-success" role="alert" id="register-success-msg">You have been registered successfully!</div>
        <form id="registerPublic">
          <input type="text" class="form-control" id="eventid" hidden>
          {% csrf_token %}
          <div class="form-group">
            <label for="register-fname" class="col-form-label">First name<span style="color:red">*</span></label>
            <input type="text" class="form-control" id="register-fname" name="register-fname" required>
          </div>
          <div class="form-group">
            <label for="register-lname" class="col-form-label">Last name<span style="color:red">*</span></label>
            <input type="text" class="form-control" id="register-lname" name="register-lname" required>
          </div>
          <div class="form-group">
            <label for="register-email" class="col-form-label">Email<span style="color:red">*</span></label>
            <input type="email" class="form-control" id="register-email" name="register-email" required>
          </div>
          <div class="form-group">
            <label for="register-phone" class="col-form-label">Phone number<span style="color:red">*</span></label>
            <input type="text" class="form-control" id="register-phone" name="register-phone" required>
            <small id="emailHelp" class="form-text text-muted">Don't include country code. We might send you updates regarding this event via sms, We'll never share your phone number with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="register-college" class="col-form-label">College<span style="color:red">*</span></label>
            <input type="text" class="form-control" id="register-college" name="register-college" required>
          </div>
          <div class="form-group">
            <label for="register-text" class="col-form-label">Any queries/feedback:</label>
            <textarea class="form-control" id="register-text" name="register-text"></textarea>
          </div>

          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="btn-register-public">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock page_context %}
{% block page_scripts %}
<script>
  $('#registerModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var modal = $(this)
  modal.find('.modal-title').text('Register for ' + button.data('eventname'))
  modal.find('#eventid').val(button.data('eventid'))
  $('#register-success-msg').hide();
  $('#registerPublic').show();
  $('#btn-register-public').show();
})
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $('#registerPublic').submit(function(e){
      e.preventDefault();
        //console.log(event_id);
        $.ajax({
          type: "POST",
          url: "/api/event/register/",
          data: {"csrfmiddlewaretoken": '{{csrf_token}}',"eventid": $('#eventid').val(),"fname": $('#register-fname').val(),"lname": $('#register-lname').val(),"email":$('#register-email').val(),"College":$('#register-college').val(),"query":$('#register-text').val(),"mobile":$('#register-phone').val()},
          success: function(data)
          { 
            //console.log('Done'+data);
            $('#register-success-msg').show();
            $('#registerPublic').hide();
            $('#btn-register-public').hide();
          },
          error: function(jqXHR, textStatus, errorThrown)
          {
            console.log('err');       
          }
        });
      })
  })

</script>
{% endblock page_scripts %}