{% extends "header.html" %}

{% block page_title %}
<title>Manan's Members | Programing Club Of YMCA University, Faridabad</title>
{% endblock page_title %}

{% block page_context %}
<div class="container">
  <br/><br/>
  {% for x in member %}
  <div class="row">
    <div class="col-lg-12">
      <p class="txxt-head">year</p>
      <h3 class="txxt-body">{{x.batch}}</h3>
      <hr style="background-color: #79589F">
      <br/>
    </div>
  </div>


  <div class="row">

    {% for y in x.users %}
    {% if y.profile.email %}
    <div class="col-lg-4" style="margin-top: 10px;">
      <div class="card border-info">
        <img class="card-img-top" src="https://dummyimage.com/100x200/f3f3f3/79589F.png&text={{y.profile.fname}}" width="100px" height="200px" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">{{y.profile.fname}} {{y.profile.lname}} </h4>
          <p class="card-text"><small class="text-muted">Email: {{y.profile.email}}</small><br/><small class="text-muted">Phone: +91-{{y.username}}</small></p>
        </div>
        <div class="card-footer">
          <small class="text-muted">
            <a href="mailto:{{y.profile.email}}" target="_new"><i class="fa fa-envelope fa-2x"></i></a>&nbsp;
            <a href="https://github.com/{{y.profile.github}}" target="_new"><i class="fa fa-github fa-2x"></i></a>&nbsp;
            <a href="https://linkedin.com/in/{{y.profile.linkedin}}" target="_new"><i class="fa fa-linkedin fa-2x"></i></a>&nbsp;
          </small>
          <a href="/member/{{y.username}}" class=" float-right">View complete profile</a>
        </div>
      </div>
    </div>
    {% endif %}

    {% endfor %}


  </div>
  <br/>{% endfor %}


  <br/><br/>
  <hr style="background-color: #79589F">
  <br/><br/>


</div>
{% endblock page_context %}
{% block page_scripts %}

{% endblock page_scripts %}