{% extends "header.html" %}

{% block page_title %}
<title>Edit profile | Manan | Programing Club Of YMCA University, Faridabad</title>
{% endblock page_title %}

{% block page_context %}
<div class="container">
  <br/><br/><br/><br/><br/><br/><br/>
  <div class="row">
    <div class="col-lg-4 ">
      <p class="txxt-head">Member</p>
      <h3 class="txxt-body">Menu</h3> 
      <ul class="list-group">
        <li class="list-group-item">Edit profile</li>
        <a href="/logout/"><li class="list-group-item">Logout</li></a>
      </ul><br/><br/><br/><br/><br/><br/><br/>
    </div> 
    <div class="col-lg-8 bg-light" style="padding:10px;">
      <div class="row">
        <div class="col-lg-12">
          <p class="txxt-head text-center"><span>Your </span><span style="color:#79589F">Profile</span></p>
          {% if user.is_authenticated %}
          {% if err %}
          <div class="alert alert-danger" role="alert">
            Some error occured while updating your profile
          </div>
          {% endif %}
          {% if msg %}
          <div class="alert alert-success" role="alert">
            Your profile was updated!
          </div>
          {% endif %}
          <form method="post" action="/profile/">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputPhone1">Phone number</label>
              <input name="mobile" type="text" class="form-control" id="exampleInputPhone1" aria-describedby="PhoneHelp" placeholder="Enter Phone Number" value="{{obj.username}}" readonly>
              <small id="PhoneHelp" class="form-text text-muted">This field is not editable.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputBatch1">Batch</label>
              <input name="batch" type="text" class="form-control" id="exampleInputBatch1" aria-describedby="BatchHelp" placeholder="Enter Batch" value="{{obj.profile.batch}}" readonly>
              <small id="BatchHelp" class="form-text text-muted">This field is not editable.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" value="{{obj.profile.email}}">
            </div>
            <div class="form-group">
              <label for="exampleInputfname">First name</label>
              <input name="fname" type="text" class="form-control" id="exampleInputfname" aria-describedby="fname" placeholder="Enter first name" value="{{obj.profile.fname}}">
            </div>
            <div class="form-group">
              <label for="exampleInputlname">Last name</label>
              <input name="lname" type="text" class="form-control" id="exampleInputlname" aria-describedby="lname" placeholder="Enter last name" value="{{obj.profile.lname}}">
            </div>
            <div class="form-group">
              <label for="exampleInputgithub">Github</label>
              <input name="github" type="text" class="form-control" id="exampleInputgithub" aria-describedby="github" placeholder="Enter github profile link" value="{{obj.profile.github}}">
            </div>
            <div class="form-group">
              <label for="exampleInputfacebook">Facebook</label>
              <input name="facebook" type="text" class="form-control" id="exampleInputfacebook" aria-describedby="facebook" placeholder="Enter facebook profile link" value="{{obj.profile.facebook}}">
            </div>
            <div class="form-group">
              <label for="exampleInputtwitter">Twitter</label>
              <input name="twitter" type="text" class="form-control" id="exampleInputtwitter" aria-describedby="twitter" placeholder="Enter twitter profile link" value="{{obj.profile.twitter}}">
            </div>
            <div class="form-group">
              <label for="exampleInputlinkedin">Linkedin</label>
              <input name="linkedin" type="text" class="form-control" id="exampleInputlinkedin" aria-describedby="linkedin" placeholder="Enter linkedin profile link" value="{{obj.profile.linkedin}}">
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
          </form>
          {% else %}
          <h1>Not logged in</h1>
          {% endif %}

        </div>
      </div>

    </div>


  </div>


  <br/><br/>
  <hr style="background-color: #79589F">
  <br/><br/>


</div>
{% endblock page_context %}
{% block page_scripts %}

{% endblock page_scripts %}